* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --color-background: #2B2C56;
  --color-primary: #EFF1FC;
  --color-accent: #6677EB;

  --space-p-x: 16px;

  background-color: var(--color-background);
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, sans-serif;
}