* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  --color-background: #2B2C56;
  --color-primary: #EFF1FC;
  --color-accent: #6677EB;
  --spacing-ui: 10px;

  background-color: var(--color-background);
  transition: background-color 0.3s;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Roboto, sans-serif;
  font-size: 14px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}