.Header h1 {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 4em;
  display: inline-block;
}

.Header p {
  color: var(--color-primary);
  font-weight: 300;
  text-transform: uppercase;
  height: 30px;
}

.HeaderMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

.WeatherWidget {
  display: flex;
}

.WeatherDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  color: var(--color-primary);
  margin-left: 10px;
  font-weight: 500;
}

.WeatherDetails span:first-child {
  border-bottom: 1px solid var(--color-primary);
  padding-bottom: 5px;
}

.WeatherDetails span:last-child {
  padding-top: 5px;
}

.SettingsButton {
  width: 35px;
  height: 35px;
  background-color: var(--color-accent);
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
  transition: all 0.3s;
}

.SettingsButton:hover {
  cursor: pointer;
  opacity: 1;
}