@import './themes.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  transition: background-color 0.3s;
  font-family: var(--font-roboto), sans-serif;
  font-size: 14px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
