.settingsCog {
  width: 35px;
  height: 35px;
  background-color: var(--color-accent);
  border-radius: 50%;
  position: fixed;
  bottom: var(--spacing-ui);
  left: var(--spacing-ui);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.25;
  transition: opacity 0.3s;
  visibility: hidden;
}

.settingsCog:hover {
  cursor: pointer;
  opacity: 1;
}

.settingsCog svg {
  width: 20px;
  height: 20px;
  fill: var(--color-background);
}

@media (min-width: 769px) {
  .settingsCog {
    visibility: visible;
  }
}
