.AppCard {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 2px 4px;
  border-radius: 4px;

  transition: background-color 0.2s;
}

.AppCard:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.AppCardIcon {
  width: 35px;
  height: 35px;
  margin-right: 0.5em;
}

.AppCardDetails h5 {
  font-size: 1em;
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: -2px;
  text-transform: uppercase;
}

.AppCardDetails span {
  color: var(--color-accent);
  font-weight: 400;
  font-size: 0.8em;
  opacity: 1;
}

@media (min-width: 500px) {
  .AppCard {
    padding: 5px 10px;
    border-radius: 8px;
    transition: all 0.1s;
    margin-bottom: 20px;
  }
}

.CustomIcon {
  width: 90%;
  height: 90%;
  margin-top: 2px;
  margin-left: 2px;
  object-fit: contain;
}
